

.apple-market {
  background-color: #b0131b;
}

.apple-market h3 {
  color: white;
}

.banana-market {
  background-color: #edce2b;
}

.grape-market {
  background-color: #35203b;
}

.orange-market {
  background-color: #ed8c2b;
}

.pear-market {
  background-color: #88a825;
}

.watermelon-market {
  background-color: #c93a61;
}

img {
  width: 100px;
  float: right;
}
