p {
  color: tomato;
}

.apple-market {
  background-color: red;
}

.banana-market {
  background-color: yellow;
}

.grape-market {
  background-color: purple;
}

.orange-market {
  background-color: orange;
}

.pear-market {
  background-color: lime;
}

.watermelon-market {
  background-color: magenta;
}

.inventory {
  background-color: gray;
}
